* {
    margin: 0;
    padding: 0;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.inline-input-group{
	width: 100%;
	display: flex;
	overflow: hidden;
	justify-content: flex-start;
	align-content: space-between;
}

.inline-input-group > *{
	margin-left: 5px !important;
	margin-right: 5px !important;
}

main {
	flex: 1 0 auto;
}

#initializing {
	z-index: 2;
	position: fixed;
	width: 100%;
	height: 100%;
}

#initializing > div{
	width: 100%;
}

.tab-wrapper {
	margin: 25px 0 25px 0;
}

#btn_scrollToTop {
	z-index: 1;
	display: none;
}

thead {
	font-weight: bold;
}

footer a:hover {
	text-decoration: underline;
}